.aboutUs-main {
    background-color: rgba(255, 253, 157, 0.2);
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    width: 90vw;
}

.aboutUs-h1 {
    margin: 0px;
    padding: 20px;
}

.aboutUs-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutUs-intro {
    width: 600px;
    text-align: center;
    font-size: 12pt;
}