:root {
    --bgColorFooter: #1E1916;
    --colorPrimary: #64574E;
    --colorTitles: #B49E8E;
    --backgroundcolor: #F4F0EE;
}

#aboutUs {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url(../Images/masiaImages/IMG_6146.jpg);
    background-blend-mode: lighten;
    background-size: contain;
    background-position: center;
}


.aboutUs-main {
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    width: 90vw;
}

.aboutUs-h1 {
    margin: 0px;
    padding: 20px;
}

.aboutUs-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutUs-intro {
    width: 600px;
    text-align: center;
    font-size: 12pt;
}

h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

.aboutUs-containerPersonal {
    margin: auto;
}

.aboutUs-cardsPersonal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
}

.aboutUs-avatarPersonal {
    width: 200px;
    border-radius: 100px;
    margin: 10px;
    max-width: 100%;
}

.aboutUs-imageSeparator {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.aboutUs-imageSeparator1 {
    width: 80vw;
    height: 20vh;
    background-image: url(../Images/masiaImages/IMG_6148.jpg);
    border-radius: 20px;
    background-position: 0px 570px;
}

.aboutUs-imageFigure {
    border-radius: 100px;
    width: 200px;
    max-width: 100%;
    margin: auto auto;
}

h5 {
    font-size: 15pt;
    margin: 10px 0px;
}

.aboutUs-testimonio {
    width: 600px;
    text-align: center;
    font-size: 12pt;
}

.aboutUs-imageSeparator2 {
    width: 80vw;
    height: 20vh;
    background-image: url(../Images/masiaImages/IMG_6146.jpg);
    border-radius: 20px;
    background-position: 0px 1050px;
    background-size: 110%;
}

.aboutUs-opinions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
}

.aboutUs-cardOpinion {
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    background-color: #B49E8E;
    margin: 10px;
    border: solid 1px black;
}

.aboutUs-opinion {
    width: 250px;
    padding: 20px;
}

.aboutUs-opinionData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUs-opinionData p {
    font-size: 9pt;
}

.aboutUs-opinionImage {
    width: 70px;
    max-width: 100%;
    border-radius: 70px;
}

.aboutUs-opinionIconGoogle {
    width: 40px;
    max-width: 100%;
    border-radius: 20px;
    background-color: white;
}

@Media (width < 700px) {

    .aboutUs-cardsPersonal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 500px;
    }
}

@Media (width < 450px) {

    .aboutUs-cardsPersonal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
    }
}