.aboutUs-main {
    background-color: rgba(255, 253, 157, 0.2);
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    width: 90vw;
}

.aboutUs-h1 {
    margin: 0px;
    padding: 20px;
}

.aboutUs-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutUs-intro {
    width: 600px;
    text-align: center;
    font-size: 12pt;
}

.aboutUs-containerPersonal {
    margin: auto;
}

.aboutUs-cardsPersonal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
}

.aboutUs-avatarPersonal {
    width: 200px;
    border-radius: 100px;
    margin: 10px;
    max-width: 100%;
}

.aboutUs-imageSeparator {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.aboutUs-imageSeparator1 {
    width: 80vw;
    height: 20vh;
    background-image: url(../Images/masiaImages/IMG_6148.jpg);
    border-radius: 20px;
    background-position: 0px 570px;
}