:root {
  --colorPrimary: rgb(255, 255, 255);
  --bg-color-restaurant: #f0f0c7;
  --bgColorButton: #2563eb;
}
body {
  background-color: rgb(236, 229, 209);
}
.contactSection {
  padding: 20px;
}
.contactSection h1,
.contactSection h2,
.contactContainer > p {
  text-align: center;
  margin: 20px 0;
}
input,
textarea,
button,
iframe {
  width: 100%;
}
input {
  padding: 10px;
}
input form,
.contactInfo,
.contactMap {
  padding: 20px;
  background-color: var(--bg-color-restaurant);
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
  margin-bottom: 40px;
}
.contactMarginMobile {
  margin: 20px;
}
button {
  background-color: var(--bgColorButton);
  border-radius: 20px;
  padding: 10px;
  color: var(--bg-color-restaurant);
}
