:root {
  --bg-color-restaurant: #f0f0c7;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid;
  background-color: var(--bg-color-restaurant);
  position: fixed;
  width: 100%;
  padding: 10px 0;
}
.logoMenu,
.hamburguerMenu,
.navbar li {
  text-align: center;
}
.logoMenu {
  width: 70%;
}
.hamburguerMenu {
  width: 30%;
}
.hamburguerMenu button {
  width: 25px;
  height: 25px;
  background-image: url("../Images/navigationImages/menuOpen.png");
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 100vh;
}
.navbar li {
  padding: 10px;
}
.navbar li:last-child {
  background-color: red;
  color: white;
}
.navbar li:hover {
  background-color: rgb(221, 196, 97);
}
.navbar li:last-child:hover {
  background-color: #e06363;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    flex-wrap: nowrap;
  }
  img {
    max-width: 30%;
  }
  .hamburguerMenu {
    display: none;
  }
  .navbar {
    height: auto;
  }
  .navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  .hidden {
    display: block;
  }
}
@media (min-width: 992px) {
  header {
    flex-wrap: nowrap;
    padding: 40px;
  }
  img {
    max-width: 30%;
  }
  .logoMenu {
    width: 25%;
  }
  .hamburguerMenu {
    display: none;
  }
  .navbar {
    width: 75%;
    height: auto;
  }
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
  }
  .navbar li a {
    position: relative;
  }
  .navbar li:hover {
    background-color: transparent;
  }
  .navbar li:not(.navbar li:last-child) a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.5s;
  }
  .navbar li:not(.navbar li:last-child) a:hover:after {
    width: 100%;
  }
  .navbar li:last-child {
    padding: 10px 20px;
    border-radius: 20px;
  }
  .hidden {
    display: block;
  }
}
