:root {
  --bg-color-restaurant: #f0f0c7;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid;
  background-color: var(--bg-color-restaurant);
  position: fixed;
  width: 100%;
  padding: 10px 0;
}
.logoMenu,
.hamburguerMenu,
.navbar li {
  text-align: center;
}
.logoMenu {
  width: 70%;
}
.hamburguerMenu {
  width: 30%;
}
.hamburguerMenu button {
  width: 25px;
  height: 25px;
  background-image: url("../images/navigationImages/menuOpen.png");
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 100vh;
}
.navbar li {
  padding: 10px;
}
.navbar li:last-child {
  background-color: red;
  color: white;
}
.navbar li:hover {
  background-color: rgb(221, 196, 97);
}
.navbar li:last-child:hover {
  background-color: #e06363;
}
