.carrusel-bajo {
    width: 100%;
    margin-top: 10%;
}
.carrusel-altura {
    height: 560px;
    width: 100%;
    object-fit: contain;
}
.bg-color-restaurant {
    background-color: #f5f5dc;
}
.carrusel-wrapper {
    width: 100%;
    padding: 60px 0;
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/Images/masiaImages/IMG_6138.jpg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.4;
    z-index: -1;
}