.carrusel-bajo {
    width: 100%;
    margin-top: 10%;
}
.carrusel-altura {
    height: 560px;
    width: 100%;
    object-fit: contain;
}
.bg-color-restaurant {
    background-color: #f5f5dc;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("Images/masiaImages/IMG_6138.jpg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.4;
    z-index: -1;
}
.H1{
    font-family: sans-serif;
    color:#2b2117;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.cards-row {
    display: flex;
    gap: 1cm;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #6f6156;
    color: #fffaf2;
    font-family: sans-serif;
    border-radius: 8px;
    text-align: center;
}